@font-face {
  font-family: "Suisse_Intl";
  font-style: normal;
  src: url('../fonts/SuisseIntl/SuisseIntl-Regular-WebXL.woff2') format('woff2'), url('../fonts/SuisseIntl/SuisseIntl-Regular-WebXL.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: "Suisse_Intl";
  font-style: normal;
  src: url('../fonts/SuisseIntl/SuisseIntl-SemiBold-WebXL.woff2') format('woff2'), url('../fonts/SuisseIntl/SuisseIntl-Medium-WebXL.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: "Suisse_Mono";
  font-style: normal;
  src: url('../fonts/SuisseIntl-mono/SuisseIntlMono-Regular-WebXL.woff2') format('woff2'), url('../fonts/SuisseIntl-mono/SuisseIntlMono-Regular-WebXL.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: "Christiana_bold";
  font-style: normal;
  src: url('../fonts/Christiana-Bold.woff') format('woff');
  font-weight: 400;
}
