.app-g {
  display: flex;
  flex-wrap: wrap;

  &.app-g--align-center {
    align-items: center;
  }

  &.app-g--align-end {
    align-items: flex-end;
  }

  &.app-g--rtl {
    justify-content: right;
  }

  &.app-g--with-margin-top {
    margin-top: 1rem;
  }

  &.app-g--with-margin-top-xl {
    margin-top: 10rem;
  }
}

.app-with-bottom-spacing {
  padding-bottom: 1rem;
}


.app-g__coll-1-12 {width: calc(100% / 12 * 1); display: block; box-sizing: border-box;}
.app-g__coll-2-12 {width: calc(100% / 12 * 2); display: block; box-sizing: border-box;}
.app-g__coll-3-12 {width: calc(100% / 12 * 3); display: block; box-sizing: border-box;}
.app-g__coll-4-12 {width: calc(100% / 12 * 4); display: block; box-sizing: border-box;}
.app-g__coll-5-12 {width: calc(100% / 12 * 5); display: block; box-sizing: border-box;}
.app-g__coll-6-12 {width: calc(100% / 12 * 6); display: block; box-sizing: border-box;}
.app-g__coll-7-12 {width: calc(100% / 12 * 7); display: block; box-sizing: border-box;}
.app-g__coll-8-12 {width: calc(100% / 12 * 8); display: block; box-sizing: border-box;}
.app-g__coll-9-12 {width: calc(100% / 12 * 9); display: block; box-sizing: border-box;}
.app-g__coll-10-12 {width: calc(100% / 12 * 10); display: block; box-sizing: border-box;}
.app-g__coll-11-12 {width: calc(100% / 12 * 11); display: block; box-sizing: border-box;}
.app-g__coll-12-12 {width: calc(100% / 12 * 12); display: block; box-sizing: border-box;}

@media (max-width: 900px) {
  .app-g__coll-sm-auto   {width: auto;  display: block; box-sizing: border-box;}
  .app-g__coll-sm-0-12   {                             display: none !important;}
  .app-g__coll-sm-1-12   {width: calc(100% / 12 * 1);  display: block; box-sizing: border-box;}
  .app-g__coll-sm-2-12   {width: calc(100% / 12 * 2);  display: block; box-sizing: border-box;}
  .app-g__coll-sm-3-12   {width: calc(100% / 12 * 3);  display: block; box-sizing: border-box;}
  .app-g__coll-sm-4-12   {width: calc(100% / 12 * 4);  display: block; box-sizing: border-box;}
  .app-g__coll-sm-5-12   {width: calc(100% / 12 * 5);  display: block; box-sizing: border-box;}
  .app-g__coll-sm-6-12   {width: calc(100% / 12 * 6);  display: block; box-sizing: border-box;}
  .app-g__coll-sm-7-12   {width: calc(100% / 12 * 7);  display: block; box-sizing: border-box;}
  .app-g__coll-sm-8-12   {width: calc(100% / 12 * 8);  display: block; box-sizing: border-box;}
  .app-g__coll-sm-9-12   {width: calc(100% / 12 * 9);  display: block; box-sizing: border-box;}
  .app-g__coll-sm-10-12  {width: calc(100% / 12 * 10); display: block; box-sizing: border-box;}
  .app-g__coll-sm-11-12  {width: calc(100% / 12 * 11); display: block; box-sizing: border-box;}
  .app-g__coll-sm-12-12  {width: calc(100% / 12 * 12); display: block; box-sizing: border-box;}
}

@media (max-width: 700px) {
  .app-g__coll-xs-auto   {width: auto;  display: block; box-sizing: border-box;}
  .app-g__coll-xs-0-12   {                             display: none !important;}
  .app-g__coll-xs-1-12   {width: calc(100% / 12 * 1);  display: block; box-sizing: border-box;}
  .app-g__coll-xs-2-12   {width: calc(100% / 12 * 2);  display: block; box-sizing: border-box;}
  .app-g__coll-xs-3-12   {width: calc(100% / 12 * 3);  display: block; box-sizing: border-box;}
  .app-g__coll-xs-4-12   {width: calc(100% / 12 * 4);  display: block; box-sizing: border-box;}
  .app-g__coll-xs-5-12   {width: calc(100% / 12 * 5);  display: block; box-sizing: border-box;}
  .app-g__coll-xs-6-12   {width: calc(100% / 12 * 6);  display: block; box-sizing: border-box;}
  .app-g__coll-xs-7-12   {width: calc(100% / 12 * 7);  display: block; box-sizing: border-box;}
  .app-g__coll-xs-8-12   {width: calc(100% / 12 * 8);  display: block; box-sizing: border-box;}
  .app-g__coll-xs-9-12   {width: calc(100% / 12 * 9);  display: block; box-sizing: border-box;}
  .app-g__coll-xs-10-12  {width: calc(100% / 12 * 10); display: block; box-sizing: border-box;}
  .app-g__coll-xs-11-12  {width: calc(100% / 12 * 11); display: block; box-sizing: border-box;}
  .app-g__coll-xs-12-12  {width: calc(100% / 12 * 12); display: block; box-sizing: border-box;}
}

.app-with-gutter {
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
}

.app-remove-child-margin {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
