.app-g {
  display: flex;

  &.app-g--align-center {
    align-items: center;
  }
}


.app-g__coll-1-12 {width: calc(100% / 12 * 1); display: block; box-sizing: border-box;}
.app-g__coll-2-12 {width: calc(100% / 12 * 2); display: block; box-sizing: border-box;}
.app-g__coll-3-12 {width: calc(100% / 12 * 3); display: block; box-sizing: border-box;}
.app-g__coll-4-12 {width: calc(100% / 12 * 4); display: block; box-sizing: border-box;}
.app-g__coll-5-12 {width: calc(100% / 12 * 5); display: block; box-sizing: border-box;}
.app-g__coll-6-12 {width: calc(100% / 12 * 6); display: block; box-sizing: border-box;}
.app-g__coll-7-12 {width: calc(100% / 12 * 7); display: block; box-sizing: border-box;}
.app-g__coll-8-12 {width: calc(100% / 12 * 8); display: block; box-sizing: border-box;}
.app-g__coll-9-12 {width: calc(100% / 12 * 9); display: block; box-sizing: border-box;}
.app-g__coll-10-12 {width: calc(100% / 12 * 10); display: block; box-sizing: border-box;}
.app-g__coll-11-12 {width: calc(100% / 12 * 11); display: block; box-sizing: border-box;}
.app-g__coll-12-12 {width: calc(100% / 12 * 12); display: block; box-sizing: border-box;}

.app-with-gutter {
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
}

.app-remove-child-margin {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}