.app-with-circle-status {
  cursor: pointer;
  user-select: none !important;

  &:before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    vertical-align: center;
    background-color: var(--app-color-border);
    margin-right: .5em;
  }

  &.app-with-circle-status--xs-rm {
    &:before {
      content: "";

      @media (max-width: 1280px) {
        content: none;
      }
    }
  }

  &.app-with-circle-status--white {
    &:before {
      background-color: white;
    }
  }

  &.app-with-circle-status--active {
    &:before {
      background-color: var(--app-color-secondary);
    }
  }
}
